In [13]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.8.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.8.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 16.1 MB/s eta 0:00:00a 0:00:01
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.46
    Uninstalling SQLAlchemy-1.4.46:
      Successfully uninstalled SQLAlchemy-1.4.46
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.36 sqlparse-0.5.1

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [17]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [23]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [25]:
%%sql $CONNECT_DATA
    SELECT * FROM seats LIMIT 5

5 rows affected.

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

Queries like “SELECT<some fields> FROM <a table> WHERE <a condition> let you to filter rows, so you will see only the rows selected for the given condition.
For the given ticket_no  ‘0005432312164’ (it’s a string), find the information: who and where flew.

In [54]:
%%sql $CONNECT_DATA
    SELECT passenger_name
    FROM tickets
    WHERE tickets.ticket_no = '0005432312164'

1 rows affected.

[('ALEKSEY GERASIMOV',)]

In [55]:
%%sql $CONNECT_DATA
    SELECT passenger_name,
    departure_airport,
    arrival_airport
    FROM tickets
    JOIN ticket_flights ON tickets.ticket_no = ticket_flights.ticket_no
    JOIN flights ON ticket_flights.flight_id = flights.flight_id
    WHERE tickets.ticket_no = '0005432312164'

4 rows affected.

[('ALEKSEY GERASIMOV', 'DME', 'EGO'),
 ('ALEKSEY GERASIMOV', 'AAQ', 'EGO'),
 ('ALEKSEY GERASIMOV', 'EGO', 'DME'),
 ('ALEKSEY GERASIMOV', 'EGO', 'AAQ')]

In [56]:
%%sql $CONNECT_DATA
    SELECT passenger_name,
    scheduled_departure,
    departure_airport,
    scheduled_arrival,
    arrival_airport
    FROM tickets
    JOIN ticket_flights ON tickets.ticket_no = ticket_flights.ticket_no
    JOIN flights ON ticket_flights.flight_id = flights.flight_id
    WHERE tickets.ticket_no = '0005432312164'

4 rows affected.

[('ALEKSEY GERASIMOV', datetime.datetime(2016, 8, 15, 16, 55, tzinfo=datetime.timezone.utc), 'DME', datetime.datetime(2016, 8, 15, 17, 40, tzinfo=datetime.timezone.utc), 'EGO'),
 ('ALEKSEY GERASIMOV', datetime.datetime(2016, 8, 24, 9, 25, tzinfo=datetime.timezone.utc), 'AAQ', datetime.datetime(2016, 8, 24, 10, 15, tzinfo=datetime.timezone.utc), 'EGO'),
 ('ALEKSEY GERASIMOV', datetime.datetime(2016, 8, 24, 12, 30, tzinfo=datetime.timezone.utc), 'EGO', datetime.datetime(2016, 8, 24, 13, 15, tzinfo=datetime.timezone.utc), 'DME'),
 ('ALEKSEY GERASIMOV', datetime.datetime(2016, 8, 16, 10, 0, tzinfo=datetime.timezone.utc), 'EGO', datetime.datetime(2016, 8, 16, 10, 50, tzinfo=datetime.timezone.utc), 'AAQ')]